    html, body {
        padding: 0;
        margin: 0;
        background-color: black;
    }
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    #grand{
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #topnav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #up{
        width: 100%;
        max-width: 970px;
        margin: auto;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }
    #logo{
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 140px;
        margin-top: 10px;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        max-width: 450px;
        padding-right: 15px;
        margin-top: 10px;
    }
    #topcont{
        /* border: 1px solid blue; */
        border-radius: 5px;
        background-color:#161613;
        width:100%;
        height: 4vh;
        max-width: 200px;
        max-height: 200px;
    }
    #middleform{
        padding: 15px 0;
    }
    #search{
        border: .1px solid rgb(54, 54, 54);
        background-color: #161613;
        line-height:25px
    }
    #srch{
        border:none;
        background: rgb(162,230,57);
        background: linear-gradient(180deg, rgba(162,230,57,1) 25%,
        rgba(98,157,7,1) 55%); 
        font: 17px/23px "Tahoma" , Arial, Helvetica, sans-serif ;
        color: rgb(221, 221, 221);
        padding: 0px 10px 4px;
        border-radius: 5px;
    }
    #bottomform{
        display: flex;
        width: 100%;
        max-width: 315px;
        justify-content: space-between;
    }
    #src a{
        padding: 0;
        font-size: 15px;
    }

    #down{
        width: 100%;
        background-color: #161616;
    }
    #tab{
        width: 100%;
        height: 100%;
        max-width: 970px;
        margin: auto;
    }
    ul{
        display:flex;
        list-style: none;
        flex-wrap: wrap;
    }
    .list{
        background: rgb(222,220,220);
        background: linear-gradient(180deg, rgba(222,220,220,1) 3%,
        rgba(162,155,155,1) 31%, 
        rgba(158,151,151,1) 33%,
        rgba(120,112,112,1) 52%); 
        padding: 5px 20px ;
        border-radius: 5px 5px 0 0;
        font: 13px bold Arial, Helvetica, sans-serif;
        margin-right: 2px;
        margin-top: 25px;
    }
    ul a{
        text-decoration: none;
        color: black;
    }
    .home{
        border-radius: 5px 5px 0 0;
        font: 13px bold Arial, Helvetica, sans-serif;
        margin-right: 2px;
        margin-top: 25px;
        background: rgb(91,188,11);
        background: linear-gradient(180deg, rgba(91,188,11,1) 0%,
        rgba(90,191,8,1) 10%, rgba(152,150,150,1) 41%,
        rgba(58,126,3,1) 74%);  
        padding: 5px 35px;
    }
    #downline{
        background-color: rgb(58, 126, 3);
        color: rgb(240, 236, 236);
    }
    #reg{
        width: 100%;
        max-width: 970px;
        margin: auto;
        font: 12px bold Arial, Helvetica, sans-serif; 
        padding: 5px 20px;       
    }
    #downline a{
        text-decoration: none;
        color:white;
    }
    #parent{
        width: 100%;
        display: flex;
        background-color:#0f0f0f;
        justify-content: space-between;
        margin: 10px 0 0 0;
    }
    .side{
        width: 100%;
        max-width: 290px;
    }
    #middle{
        display: flex;
        width: 100%;
        max-width: 970px;
        justify-content: space-between;
    }
    #content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 730px;
    }
    #preview{
        width: 100%;
        max-width: 730px;
        display: flex;
        border: .1px solid rgb(54, 54, 54);
        background: rgb(104,105,103);
        background: linear-gradient(180deg, rgba(104,105,103,1) 10%,
        rgba(74,72,72,1) 21%, rgba(22,22,16,1) 50%); 
    }
    #imgpreview{
        width: 100%;
        height: 199px;
        max-width: 155px;
    }
    #mainview{
        width: 100%;
        max-width: 540px;
        display: flex;
        flex-direction: column;        
    }
    #topview{
        width: 100%;
        max-width: 540px;
        margin: 0 15px;
    }
    h3 a{
        text-decoration: none;
        font:normal 27px "Tahoma" , Arial, Helvetica, sans-serif;
        color: #b3d107;
    }
    h1 a{
        text-decoration: none;
        font:normal 15px "Tahoma" , Arial, Helvetica, sans-serif;
        color: #b3d107;
    }
    p{
        font:normal 12px "Tahoma" , Arial, Helvetica, sans-serif;  
        color: #666363 ;                        
        margin: 20px 0  ;  
    }   
    p a{
        text-decoration: none;
        font:normal 12px "Tahoma" , Arial, Helvetica, sans-serif;
        color: #b3d107;   
    }
    #downview{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        margin-right: 20px;
    }
    #dropdown{
        background-color: #161613;
        color: #fff;
        line-height: 10px;
    }
    button{
        padding: 5px 15px;
        border-radius: 7px;
        background-color:rgb(58, 126, 3);
        color: white;
        font:bold 12px "Tahoma" , Arial, Helvetica, sans-serif ;
        border: none;
    }
    #update{
        width: 100%;
        max-width: 730px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        border: .1px solid rgb(54, 54, 54);
    }
    .topdate{
        display: flex;
        justify-content: space-between;
        background: rgb(162,230,57);
        background: linear-gradient(180deg, rgba(162,230,57,1) 25%,
        rgba(98,157,7,1) 55%); 
        font: 17px/23px "Tahoma" , Arial, Helvetica, sans-serif ;
        color: rgb(221, 221, 221);
        line-height: 26px;
        padding: 0 10px;
    }
    #downdate{
        display: flex;
        margin: 0 15px;
    }
    .items{
        width: calc(100%/5);
        margin: 0 5px;
        text-align: center;
    }
    .itemimg{
        width: 100%;
        max-width: 132px;
        height: 152px;
        margin: 20px 0;
    }
    #main{
        width: 100%;
        max-width: 730px;
        display: flex;
        flex-direction: column;
        border: .1px solid rgb(54, 54, 54);
    }
    .child{
        width: 100%;
        max-width: 730px;
        display: flex;
        padding: 20px 0 0 20px ;
        background-color: rgb(5, 5, 5);
    }
    .child1{
        width: 100%;
        max-width: 730px;
        display: flex;
        background-color: #131212; 
        padding: 20px 0 0 20px ;
    } 
    .childimg{
        max-width: 84px;
        max-height: 104px;
    }
    .childcontent{
        width: 100%;
        padding: 0 30px;
    }
    #sidebar{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 225px;  
    }
    #announcement{
        width: 100%;
        padding-bottom: 20px;
        background-color:black;
        border: .1px solid rgb(54, 54, 54);
        margin-bottom: 15px;
    }
    #ongoing, #latest {
        width: 100%;
        background-color:black;
        border: .1px solid rgb(54, 54, 54);
        margin-bottom: 15px;
    }
    #botomnav{
        width: 100%;
        background-color: #000000; 
    }
    #midbottom{
        width: 100%;
        max-width: 970px;
        margin: auto;
        color: white;
        font: normal 12px "Tahoma" , Arial, Helvetica, sans-serif;
        padding: 5px 10px;
    }

